<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
            <hr>
            <h3>forms组件渲染方式1</h3>
            <form action="" method="post" novalidate>
                {% csrf_token %}
                <p>{{ form.name.label }}
                    {{ form.name }} <span class="pull-right error">{{ form.name.errors.0 }}</span>
                </p>
                <p>{{ form.pwd.label }}
                    {{ form.pwd }} <span class="pull-right error">{{ form.pwd.errors.0 }}</span>
                </p>
                <p>{{ form.r_pwd.label }}
                    {{ form.r_pwd }} <span class="pull-right error">{{ form.r_pwd.errors.0 }}</span><span class="pull-right error">{{ errors.0 }}</span>
                </p>
                <p>{{ form.email.label }}
                    {{ form.email }} <span class="pull-right error">{{ form.email.errors.0 }}</span>
                </p>
                <p>{{ form.tel.label }}
                    {{ form.tel }} <span class="pull-right error">{{ form.tel.errors.0 }}</span>
                </p>
                <input type="submit" value="提交">
            </form>

            <hr>
{#            <h3>forms组件渲染方式2</h3>#}
{#            <form action="" method="post">#}
{#                {% csrf_token %}#}
{#                {% for field in form %}#}
{#                    <p>#}
{#                        <label for="">{{ field.label }}</label>#}
{#                        {{ field }}#}
{#                    </p>#}
{#                {% endfor %}#}
{##}
{#                <input type="submit" value="提交">#}
{#            </form>#}

            <hr>
{#            <h3>forms组件渲染方式3</h3>#}
{#            <form action="" method="post">#}
{#                {% csrf_token %}#}
{#                {{ form.as_p }}#}
{##}
{#                <input type="submit" value="提交">#}
{#            </form>#}

        </div>
    </div>

</div>

</body>
</html>